div{ 
  height:60px;
  margin:150px auto 0;
  width:400px;
}
input{
  display:block;
  height:30px;
  width:300px;  
}
div #pwdtxt{
  position:absolute;
  left:483px;
  top:150px;
  z-index:-10;
}
div #eye{
  cursor:pointer;
  display:block;
  color:red;
  position:absolute;
  left:750px;
  top:155px;
  z-index:20;
  width:40px;
  height:30px;
}
